x-othentic-cli: &othentic-cli
  env_file:
    - .env
  build:
    context: .
    dockerfile: ./Dockerfile
services:
  attester:
    <<: *othentic-cli
    command: [
      "node",
      "attester",
      "/ip4/104.238.148.107/tcp/9876/p2p/${OTHENTIC_BOOTSTRAP_ID}",
      "--avs-webapi",
      "http://172.16.0.42",
      "--l1-chain", "holesky",
      "--l2-chain", "base-sepolia",
    ]
    environment:
      - PRIVATE_KEY=${PRIVATE_KEY_ATTESTER}
      - TASK_PERFORMER=0x0000000000000000000000000000000000000000
    volumes:
      - /app:/app
    networks:
      p2p:
        ipv4_address: 172.16.0.2  
  validation-service:
    build:
      context: ./Validation_Service
      dockerfile: ./Dockerfile
    env_file:
      - .env
    networks:
      p2p:
        ipv4_address: 172.16.0.42
networks:
  p2p:
    driver: bridge
    ipam:
     config:
       - subnet: 172.16.0.0/16
         gateway: 172.16.0.1
